{% extends 'user_manager/base.html' %}

{% block content %}

<div class="col-sm-2"></div>
<div class="col-sm-8">

  <div class="form-box">
    <div class="form-top">
      <div class="form-top-left">
        <h3>User details</h3>
          <p></p>
      </div>
      <div class="form-top-right">
        <i class="fa fa-pencil"></i>
      </div>
      </div>
      <div class="form-bottom">

        <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                <img class="img-circle" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" alt="User Pic">
                            </div>
                            <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                <img class="img-circle" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50" alt="User Pic">
                            </div>

                            <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                <strong>{{user.firstname}} {{user.lastname}}</strong><br>
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>Email : </td>
                                        <td><span id="adressMail">{{user.email}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>Registration Date :</td>
                                        <td>{{user.date}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mobile : </td>
                                        <td>{{user.phone}}</td>
                                    </tr>
                                    <tr>
                                        <td>Adress :</td>
                                        <td>{{user.adress}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">

                          <div class="col-sm-3">
                            <form action="/user_manager/disconnect/" method="get" id="form1">
                            <input type="hidden" id="disconnect" name="disconnect" value="1" >
                            </form>
                            <button type="submit" form="form1" class="btn btn-danger" value="Submit">Disconnect</button>
                          </div>


                          <div class="col-sm-6"></div>
                          <div class="col-sm-3">

                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" >Modify</button>
                          </div>

                        </div>


                    </div>

      </div>
  </div>

</div>

<div class="col-sm-2"></div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modify email adress</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="change-mail-form">
        {% csrf_token %}
          <div class="modal-body">

              <div class="row">
                <div class="col-sm-3">
                  <label  for="form-new-mail">New Email</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="form-new-mail" placeholder="Email ..." class="form-new-email form-control" id="form-new-mail">
                </div>

              </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="change-mail-button"  data-dismiss="modal">Save changes</button>
          </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}

{% block javascript %}

<script>
$("#change-mail-button").click(function (e) {
    console.log("Entered trigger");
    // preventing from page reload and default actions
    e.preventDefault();
    // serialize the data for sending the form data.
    var serializedData = $('#change-mail-form').serialize();
    // make POST ajax call
    $.ajax({
        type: 'POST',
        url: "{% url 'post_mail' %}",
        data: serializedData,
        success: function (response) {

            // Change the new mail from response.
            console.log(response['new_mail'])
            var new_mail = response["new_mail"];
            $('#adressMail').text(new_mail);

        },
        error: function (response) {
            // alert the error if any error occured
            alert(response["responseJSON"]["error"]);
        }
    })
});
</script>
{% endblock javascript %}
